/*variables*/
:root {
    --main-color: #37af65;
    --main-color-rgba: 55, 175, 101;
    --error-color: 212, 38, 67;
    --main-font: Vazir;
    --color-darkblue: rgba(27, 27, 50, 0.8);
    --yellow: #92e6a7;
    --purple:#4ad66d;
    --medium-green:#208b3a;
    --light-green:#10451d;
}

/*end variables*/


/*add fonts*/
@font-face {
    font-family: Vazir;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Vazir-FD.woff2') format('woff'), url('../fonts/Vazir-FD.woff') format('woff');
}

@font-face {
    font-family: Vazir;
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Vazir-Bold-FD.woff2') format('woff'), url('../fonts/Vazir-Bold-FD.woff') format('woff');
}

@font-face {
    font-family: Vazir;
    font-weight: lighter;
    font-style: normal;
    src: url('../fonts/Vazir-Light-FD.woff2') format('woff'), url('../fonts/Vazir-Light-FD.woff') format('woff');
}

@font-face {
    font-family: Vazir;
    font-weight: medium;
    font-style: normal;
    src: url('../fonts/Vazir-Medium-FD.woff2') format('woff'), url('../fonts/Vazir-Medium-FD.woff') format('woff');
}

/*end fonts*/

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

body {
    color: white;
    font-size: 20px;
    border: none;
}

body,
input {
    font-family: var(--main-font);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(images/bgimg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    padding-top: 70px;
}

#survey-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 20rem;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    background-color: rgba(27, 27, 50, 0.8);
    border-radius: 6px;
    padding: 30px;

}

#survey-form>div {
    margin-top: 30px;
    width: 95%;
    margin: auto;
}

input::placeholder {
    text-align: right;
}

input[type="email"] {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-top: 30px;
    background-color: white;
    outline: none;
    border: none;
}

#username {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z' /%3E%3C/svg%3E");
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    direction: ltr;
}

#username:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='color:%2337af65;' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z' /%3E%3C/svg%3E");
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#password {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-top: 30px;
    outline: none;
    border: none;
}
#password {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z' /%3E%3C/svg%3E");
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    direction: ltr;
}

#password:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='color:%2337af65;' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z' /%3E%3C/svg%3E");
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    direction: ltr;
}
#password:not(:placeholder-shown){
    padding-right: 3rem;
}
#password:not(:placeholder-shown)+a {
    visibility: visible !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M10 12a2 2 0 100-4 2 2 0 000 4z' /%3E%3Cpath fill-rule='evenodd' d='M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
    background-position: right 10px center;
    z-index: 200;
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: -40px;
    margin-left: 15px;
    

    float: right;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#showpassword {
    visibility: hidden;
}

*:focus {
    border-color: #37af65;
    outline: none;
}

#submit {
    background-color: #37af65;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    height: 40px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 7px;
}

input[type="checkbox"] {
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 7px;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkmark {
    display: inline-block;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 2px;
    margin-bottom: -3px;
}

.group:hover input~.checkmark {
    box-shadow: 0 0 2px 2px #37af65, 0 0 0 1px #37af65;
}

input:checked~.checkmark {
    background-color: #37af65;
}

input:checked~.checkmark::after {
    content: "";
    display: block;
    width: 7px;
    height: 3px;
    border: solid white;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    position: relative;
    top: 3px;
    left: -1px;
}

#forget-password {
    direction: ltr;
}

#forget-password>a {
    text-decoration: none;
    color: white;
    font-size: 13px;

}

.group {
    display: inline-block;
    width: 49%;
    cursor: pointer;
    font-size: 13px;
    padding-top: 20px;
}

/*success or error message*/
.message {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    margin-top: 30px;
    transition: linear height 0.5s, linear margin-top 0.5s;
    text-align: center;
    padding-top: 13px;
    overflow: hidden;
}

.message.success {
    background-color: rgba(var(--main-color-rgba), 0.5);
    border: solid 1px rgba(var(--main-color-rgba), 0.8);

}

.message.error {
    background-color: rgba(var(--error-color), 0.5);
    border: solid 1px rgba(var(--error-color), 0.8);
    
}

.message.hidden {
    height: 0;
}

.message:not(.error):not(.success) {
    margin-top: 0;
    height: 0;
}

/*media query*/
@media only screen and (max-width: 600px) {
    #survey-form {
        width: 80%;
    }
}

@media only screen and (max-width: 375px) {
    .group {
        direction: rtl !important;
        width: 100% !important;
        display: block !important;
    }
}
/*End of login page style*/



/*events page style*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color:#f5f5f5;
    margin-top:10px ;
}
.header {
    display: flex;
    flex-direction: row;
    margin-top:10px;
    justify-content: center;
}
.main {
    width:24%;
    height:175px;
    background-color: white;
    border: 3px solid #e7e7e7;
    margin: auto;
    margin-top:1%;
    margin-bottom:1%;
    border-radius:2px;
    position: relative;
}
.main > div {
    display: inline-block;
    position: absolute;
}
#profile {
    margin: 8px 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 23%;
    min-width: 175px;
}
#profile > img {
    width: 50px;
    height: 50px;
}
#profile-txt {
    margin-right: 15px;
    margin-top: 7px;

    min-width: 110px;
    display: inline-block;
}
#searchbox {
    /*! margin-left: 30px; */
    width: 200%;
}
#search {
    width: 130px;
    padding: 5px;
    border-radius:5px;
    border:none;
    outline: none;
    transition: width 0.6s ease-in-out;
    height: calc(100% - 10px);
}

#search:focus {
    width:calc(100% - 120px);
    border-color:none;
}  
#logout {
    width:27%;
    min-width: 82px;
    text-align: center;
    position: relative;
}
#logout > img {
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-123%, -50%);
    position: absolute;
}
#logout-txt {
    display: inline-block;
    width: 50px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -63%);
}
/*box started*/
.malware-logo {
    top:12%;
    left:6%;
}
.botnet-logo {
    width:35px;
    height:35px;
}
.molware-name {
    width:35%;
    left:60px;
    top:10%; 
}
.molware-name > p {
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr
}
.botnet-name {
    color: black;
    font-size:13px;
    font-weight: bold;
}

.malware-id {
    width: calc(50% - 58px);
    font-size: 12px;
    color: #6c6c6c;
    top:50px;
    left:58px;
}
.malware-id > p {
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}
.btn {
    height:9%;
    font-size: 0.8em;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 2px;
    color: #6c6c6c;
    border: 3px solid #e7e7e7;
    text-align: center;
    background-color:#f5f5f5;
    padding:2px 5px;
}
.siem-btn {
    top:9%;
    color: black;
    right:5%;
    width:15%;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;   /*fit text inside container*/
}

.time-show {
    width: calc(50% - 58px); 
    right:5%;
    top:26%;
    color:#bdefa7;
    border:2px solid #bdefa7;
    background-color:#f0fff5;
    font-size: 13px;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;   /*fit text inside container*/

}
.s,.d {
    left:5%;
    color: #6c6c6c;

}
.s {
    top:53%;
}
.d {
    top:77%;
}
#connection {
    width: 30px;
    height:19px;
    top:67%;
    left:28.5px;
    border-left: 1px solid #e7e7e7;
}
.ip1  , .ip2 {
    color: black;
    width: fit-content; 
    text-align: left;
    padding-left:10px;
    margin-left: 10px;
    padding-right: 30px;
}
.ip1 {
    top:53%;
    left:14%;
    position:absolute;
}
.ip2 {
    top:77%;
    left:14%;
}
.p1,.p2 {
    display: inline-block;
    padding-right: 10px;
    height: 10px;
}
.port {
    height: 13px;
    position: relative;
    top:1px;
    bottom: 1px;
    border-left:1px solid #e7e7e7;
    padding-left: 10px;
    display: inline-block;
    color: #6c6c6c;

}

/*media query*/
@media only screen and (max-width:1000px) {
    .main {
        width:32% !important;
    }
}

@media only screen and (max-width:760px) {
    .main {
        width: 48% !important;
    }
}
@media only screen and (max-width:450px) {
    .main {
        width:98% !important;
    }
}

/*end of events style*/




/*loading*/
.d-none {
    display: none !important;
}
.con {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color:rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: 200;
    
}
.con > div {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
	background-color: var(--yellow);
}

.purple {
	background-color: var(--purple);
	animation-delay: 0.1s;
}

.medium-green {
	background-color: var(--medium-green);
	animation-delay: 0.2s;
}

.light-green {
	background-color: var(--light-green);
	animation-delay: 0.3s;
}

@keyframes bounce {
	0%, 100% {
		transform: scale(0.6);
		filter: blur(3px);
	}
    25%, 75% {
		transform: scale(1);
		filter: blur(0);    
	}
    
	50% {
		filter: blur(3px);
		transform: scale(1.4);
	}
}